
#top {
    position: relative;
    background-color: #036fab;
    color: #777777;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    padding-top: 50px;
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  font-weight : bold;
  text-decoration : none;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    background-color: #036fab;
    color: #FFFFFF;
    text-decoration: none;
}

a.list-group-item, button.list-group-item {
    color: #337ab7;
}

